<!DOCTYPE html>
<html>
<head>
    <title>Banking System - Accounts</title>
</head>
<body>
    <div>
        <a href="/">Back to Home</a> | 
        <a href="/get_accounts">Back to Account Table</a>
    </div>
    <h3>Add Account</h3>
    <form action="/add_account" method="POST">
        <label>Balance</label>
        <input type="text" name="balance" placeholder="balance...">
        <label>Account Type</label>
        <input type="text" name="accType" placeholder="account type...">
        <label>Account Status</label>
        <input type="text" name="accStatus" placeholder="account status...">
        <button type="submit">Add Account</button>
    </form>
</body>
</html>

