<!DOCTYPE html>
<html>
<head>
    <title>Banking System</title>
</head>
<body>
    <h3>Add Account</h3>
    <form action="/addAccount" method="POST">
        <label>Balance</label>
        <input type="text" name="balance" placeholder="balance...">
        <label>Account Type</label>
        <input type="text" name="accType" placeholder="account type...">
        <label>Account Status</label>
        <input type="text" name="accStatus" placeholder="account status...">
        <button type="submit">Add Account</button>
    </form>

    <h3>Add Customer</h3>
    <form action="/addCustomer" method="POST">
        <label>First Name</label>
        <input type="text" name="fName" placeholder="first name...">
        <label>Last Name</label>
        <input type="text" name="lName" placeholder="last name...">
        <label>Email</label>
        <input type="text" name="email" placeholder="email...">
        <button type="submit">Add Customer</button>
    </form>

    <h3>Add Transaction</h3>
    <form action="/addTransaction" method="POST">
        <label>Transaction Amount</label>
        <input type="text" name="transAmount" placeholder="transaction amount...">
        <label>Transaction Type</label>
        <input type="text" name="transType" placeholder="transaction type...">
        <label>Account ID</label>
        <input type="text" name="accID" placeholder="account ID...">
        <label>Customer ID</label>
        <input type="text" name="customerID" placeholder="customer ID...">
        <button type="submit">Add Transaction</button>
    </form>

    <h3>Add Loan</h3>
    <form action="/addLoan" method="POST">
        <label>Loan Amount</label>
        <input type="text" name="loanAmount" placeholder="loan amount...">
        <label>Interest Rate</label>
        <input type="text" name="interestRate" placeholder="interest rate...">
        <label>Loan Status</label>
        <input type="text" name="loanStatus" placeholder="loan status...">
        <label>Customer ID</label>
        <input type="text" name="customerID" placeholder="customer ID...">
        <button type="submit">Add Loan</button>
    </form>
</body>
</html>
